

.App {
    background: -moz-linear-gradient(122deg,#49aedd 0%,#8269d4 52%,#b521c9 100%);
    background: -webkit-linear-gradient(122deg,#49aedd 0%,#8269d4 52%,#b521c9 100%);
    background: linear-gradient(122deg,#49aedd 0%,#8269d4 52%,#b521c9 100%);
}
.ant-layout {
    background: none;
}
.app-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 2.8px;
    line-height: 80px;
}
.app-title h2 {
    font-weight: 700;
    font-size: 28px;
    margin: 0px;
}
.ant-card-bordered {
    border-radius: 15px;
    box-shadow: 1px 4px 40px 3px rgba(0,0,0,0.15);
}
.ant-card {
    font-weight: 400;
    font-size: 14px;
    max-width: 600px;
    background: #32363d;
}
.ant-card-body {
    padding: 0px;
}
.ant-layout-header {
    align-items: center;
    height: 80px;
    background: none;
    padding: 0 20px;
    color: rgba(255,255,255,0.85);
    line-height: 64px;
    display: flex;
}
.ant-btn-primary {
    color: #fff;
    border-color: #b73fcb;
    text-shadow: 0 -1px 0 #000000;
    box-shadow: 0 2px 0 #000000;
    background: #b73fcb;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
}
.ant-btn-ghost {
    color: rgba(255,255,255,0.85);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.068);
    border-radius: 15px;
    background: transparent;
}
.ant-modal-content {
    border-radius: 15px !important;
    background-color: #1a2029 !important;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%), 0 9px 28px 8px rgb(0 0 0 / 20%) !important;
}
.ant-modal-title {
    color: hsla(0,0%,100%,.85) !important;
}
.ant-modal-header {
    background: #1a2029 !important;
    border-bottom: 1px solid #303030!important;
    border-radius: 2px 2px 0 0!important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

.ant-modal-close-icon svg {
    color: hsla(0,0%,100%,.85) !important;
}
.ant-slider-rail {
    background-color: #f5f5f5;
}
.ant-slider-track {
    background-color: #5b9adb;
}
.ant-menu-item-selected {
    background-color: #b73fcb !important;
}
.ant-slider-handle {
    background-color: #5b9adb !important;
    border: solid 2px #f5f5f5;
}
.App-Bar {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    top: 0px;
    position: relative;
    padding: 1rem;
    z-index: 2;
}
.App-Bar .ant-menu-horizontal {
    border-radius: 12px;
    border-bottom-color: transparent;
    background-color: "#32363D";
    line-height: inherit;
    font-size: 16px;
    margin: 0 10px;
}
.App-Bar .ant-menu-horizontal .ant-menu-item {
    border-radius: 12px;
    margin: 5px;
    color: lightgrey;
    height: 35px;
    line-height: 35px;
    border-width: 0px !important;
}
.App-Bar .ant-menu-horizontal .ant-menu-item:hover {
    color: white;
    border-width: 0px !important;
}
.App-Bar .ant-menu-horizontal .ant-menu-item-selected {
    font-weight: bold;
}
.App-Bar .ant-menu-horizontal .ant-menu-title-content {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.App-Bar .ant-menu-horizontal .ant-menu-item-selected, .App-Bar .ant-menu-horizontal .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #5b9adb;
}
.App-Bar-left {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
}
.App-Bar-right {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-self: flex-end;
}
.wallet-wrapper {
    padding-left: 0.7rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.wallet-key {
    padding: 0.1rem 0.5rem 0.1rem 0.7rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
}
em {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.wallet-key {
    padding: 0.1rem 0.5rem 0.1rem 0.7rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.ant-notification a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.ant-layout-content {
    display: flex;
    overflow: auto;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.card-fill {
    height: 100%;
}
.card-row {
    box-sizing: border-box;
    margin: 5px 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.card-row .card-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    text-align: left;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
}
.card-row .left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-row .small {
    font-size: 11px;
}
.token-input {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 0px 10px;
    margin: 5px 0px;
}
.token-balance {
    margin-left: auto;
    margin-right: 5px;
}
.btn-ls {
    background: #b73fcb;
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
}
.btn-section {
    height: 70px;
}
[class="ant-layout-header"] {
    height: 16px !important;
}
@media only screen and (max-width: 600px) {
    .exchange-card {
        width: 360px;
   }
}
.loading-mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.static-load {
    display: none;
}
.dynamic-load {
    pointer-events: none;
}
